/* Gaya umum untuk halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff9933;
    padding: 8px;
    color: white;
    text-align: center;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a.active {
    text-decoration: underline;
}

#contact {
    padding: 10px 1rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #FF8C00;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
}

form input, form textarea, form select {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

form button {
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: #ff7b00;
}

/* CSS untuk menyelaraskan iframe di tengah */
.map-container {
    display: flex;
    justify-content: center; /* Menyelaraskan secara horizontal */
    align-items: center; /* Menyelaraskan secara vertikal */
    margin: 20px 0; /* Margin atas dan bawah */
}
iframe {
    width: 600px; /* Lebar iframe */
    height: 450px; /* Tinggi iframe */
    border: 0; /* Menghilangkan border */
}

footer {
    text-align: center;
    padding: 12px;
    background-color: #333;
    color: white;
}
